@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* font-family: 'Crimson Pro', serif; */
/* font-family: 'Lora', serif; */
/* font-family: 'Montserrat', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #181719;
    color: #fff;
}

.container {
    margin: 50px 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div {
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 15.56px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 60px;
    text-transform: uppercase;
    width: 102px;
    height: 32px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    gap: 40px;
}

header nav ul.open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #181719;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    height: 30px;
    margin-left: 30px;
    text-align: center;
}

header nav .hamburger-menu {
    margin-right: 10px;
    position: relative;
    z-index: 1000;
    display: none;
}

header nav .hamburger-menu .top-bun , header nav .hamburger-menu .patty , header nav .hamburger-menu .bottom-bun {
    width: 41px;
    height: 6px;
    background-color: #fff;
    position: relative;
    margin: 7px 0;
    transition: all 0.3s ease-in-out;
}

header nav .hamburger-menu .patty {
    z-index: -1;
}

header nav .hamburger-menu .top-bun {
    z-index: 2;
} 

header nav .hamburger-menu .bottom-bun {
    z-index: 2;
} 

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li:nth-of-type(1) {
    border-bottom: 2px solid #fff;
    font-weight: 700;
}

.content-container {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container .content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-container .content-1 h1 {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
}

.content-container .content-1 p {
    margin: 50px 0;
    max-height: 145px;
    max-width: 410px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.content-container .content-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    gap: 15px;
}

.content-container .content-2 {
    max-height: 580px;
    max-width: 800px;
    position: relative;
    z-index: -1;
}

.content-container .content-2 .sub-content-1 img {
    height: 100%;
    width: 100%;
}

.content-container .content-2 .sub-content-2 {
    max-width: 410px;
    max-height: 190px;
    background-color: #181719;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 2;
    bottom: -6vw;
    right: 3vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-container .content-2 .sub-content-2 .top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container .content-2 .sub-content-2 .top img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    margin: 10px 10px 10px 30px;
}

.content-container .content-2 .sub-content-2 .top div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 110px;
    max-height: 72px;
    margin: 10px 0px 0px 10px;
}

.content-container .content-2 .sub-content-2 .top div .name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.content-container .content-2 .sub-content-2 .top div .position {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 8px 0px;
    color: #828282;
}

.content-container .content-2 .sub-content-2 .bottom {
    max-width: 287px;
    max-height: 62px;
    margin: 0 0 20px 30px;
    text-align: left;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 150px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #a9a9a9;
}

footer a {
    font-weight: 700;
    color: #a9a9a9;
}

@media (max-width: 969px) {

    header nav .hamburger-menu {
        display: block;
    }

    header nav ul li {
        display: none;
    }

    header nav ul.open li {
        display: block;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 50px 0;
    }

    .content-container .content-1 {
        margin-bottom: 40px;
    }

}

@media (max-width: 759px) {

    .content-container .content-1 h1 {
        font-size: 36px;
        line-height: 46px;
    }

    .content-container .content-1 p {
        max-height: 85px;
        max-width: 250px;
        font-size: 14px;
        line-height: 17px;
        margin: 30px 0;
    }

    .content-container .content-1 a {
        font-size: 14px;
        line-height: 17px;
        gap: 8px;
    }

    .content-container .content-2 .sub-content-2 {
        bottom: -20vw;
        right: 3vw;
    }

    .content-container .content-2 .sub-content-2 .bottom {
        max-width: 210px;
        max-height: 45px;
        font-size: 18px;
        line-height: 23px;
    }
}